.pdf-container{
    width: 100%;
    text-align: center;
}

.pdf-download-btn{
    padding: .5rem;
    border-radius: 1rem;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px 5px rgb(216, 11, 11);
    color: rgb(2, 29, 2);
    font-weight: 700;
    text-shadow: 2px 2px 5px rgb(7, 65, 21);
    font-size: 1rem;
    border: 2px solid yellowgreen;
    cursor: pointer;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(146, 212, 39);
}
.pdf-download-btn:hover{
    background-color: wheat;
}