.contact-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}

.contact-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(grey);
}

.thankyou-note {
  width: 80%;
  margin: 40px auto;
  color: rgb(160, 159, 157);
}

.thankyou-note:hover {
  color: #fff;
}