/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 5%;
    background: #1D1F21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 .5px .5px .5px rgb(37, 93, 121) ;
    height: 60px;
}
.logo {
    font-size: 1.75rem;
    color: var(--grey);
    color: rgb(48, 108, 132);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D1F21;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.navbar a {
    font-size: 1rem; 
    color: var(--grey);
    color: rgb(67, 124, 147);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem; 
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar a:hover {
    color: rgb(233, 227, 222);
    color: #8b99a9;
}

/* Mobile Drawer Styles */
.mobile-drawer {
    display: none;
}

@media only screen and (max-width: 850px) {
    .mobile-drawer {
        display: block;
    }
    
    .navbar {
        display: none; 
    }
    
    .logo {
        font-size: 1.6rem;
    }
    
    .drawer-div {
        width: 75vw;
        height: 100vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .link {
        text-decoration: none;
        color: var(--grey);
        text-align: center;
        background-color: rgb(2, 2, 2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
    }
    
    .link:hover {
        opacity: 0.8;
        color: skyblue;
    }
}

body {
    margin-top: 60px;
}
