
.project-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-item {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    background-color: black;
    box-shadow: 2px 2px 6px 4px rgb(82, 131, 9);
    text-align: center;
    transition: transform 1s, box-shadow 0.7s;
  }
  
  .project-item  h2 {
    font-size: 24px;
    margin: 0 0 10px;
    color: rgb(110, 160, 11);
    /* text-shadow: 2px 1px 2px rgb(216, 219, 211); */
    box-shadow: 2px 2px 3px 2px rgb(112, 177, 14);
  }
  
  .project-item img {
    margin-top:20px;
    max-width: 80%;
    height: auto;
    box-shadow: 2px 2px 6px 4px rgb(79, 82, 75);
    transition: transform .1s, box-shadow 0.7s;
  }
  
  .project-item p {
    font-size: 16px;
    color: #999797;
    margin: 20px 0;

  }
 .live a{
    margin-top: 2rem;
    border: 2px solid rgb(23, 128, 9);
    padding: .2rem;
    box-shadow: 2px 2px 4px 2px rgb(132, 206, 36);
    background-color: rgb(129, 138, 105);
    color: rgb(17, 17, 17);
    font-weight: 700;
  }
 .live a:hover{
    background-color: transparent;
    border: yellowgreen 2px solid;
    color: rgb(127, 175, 39);
    transition: transform all ease .7s, box-shadow 0.7s;
  }
  .project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-works h1 {
    font-size: 36px;
    margin: 20px;
    color: white;
  }
  
  @media (max-width: 600px) {
    .project-item {
      width: 90%;
    }
    .project-item h2 {
      font-size: 20px;
    }
    .project-works h1 {
      font-size: 28px;
    }
  }