@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
    margin-bottom : 0rem;
    color: var(--white);
  
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    height: 100vh;
    background: url(./cover.avif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
  }